/*custom of oil and gas */
@font-face {
    font-family: myFont;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: myHeading;
    src: url(/fonts/Raleway-Medium.ttf);
    font-weight: 600;
}

.banner-image{
    background: url("../css/images/banner1.jpg") center no-repeat ;
    width: 100%;
    background-size: cover;
    height: 600px;
    display: table;

}

.banner-image .oil-heading{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.tagline{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.tagline > input{
    width: 50%;
    margin: auto;
    padding: 5px 20px;
}

.navbar {
    min-height: 66px !important;
}
.navbar-brand {
    line-height: 33px !important;
}
.navbar-inverse .navbar-brand {
    color: #f7f7f7;
}
.navbar-inverse .navbar-brand:hover{
    color: #feee41;
}
.navbar-inverse .navbar-nav>li>a {
    line-height: 33px !important;
    color: #f7f7f7 !important;
}
.navbar-inverse {
     border-color: transparent !important;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #feee41 !important;
}
.oil-nav {
    background-color: #2b2b2d;
    color:#f7f7f7 !important;
    font-family: 'Raleway', sans-serif;
}
.oil-nav:hover{
    color: #feee41;
}

body{
    font-size: 16px;
    line-height: 26px;
    color: grey;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
.light-bg{
    background: #fafafa
;
}
.oil-font1{
    font-size: 16px !important;
}

/*.tagline{*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*!*transform: translate(-50%, -50%);*!*/
    /*background: rgba(0, 0, 0, 0.41);*/
    /*padding: 232px 278px;*/
/*}*/
.oil-input{
    padding: 2px 10px;
    font-size: 14px;
    width: 62%;
}
 li .footer-link a{
     color: #ffffff !important;
 }


 .footer-links li{
     list-style: none;

 }

 .footer-links li a{
     color: #fff;
     text-decoration: none;
 }

/*.tagline::before{*/
    /*content: "";*/
    /*border-bottom: 3px solid #feee41;*/
    /*margin-top: 40px;*/
    /*width: 5%;*/
    /*position: absolute;*/
/*}*/
.oil-para{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #565a5c;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
.oil-para1{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #565a5c;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
.title {
    color: #484848;
    font-weight: 500;
    margin: 40px;
    text-align: center;
    font-size: 35px;
}
.title::before {
    content: "";
    border-bottom: 4px solid #feee41;
    margin-top: 40px;
    width: 70px;
    position: absolute;
}

.oil-btn  {
    background: #feee41;
    color:#484848 ;
    display: inline-block;
position: relative;
outline: 0;
padding: 13px 40px;
font-style: normal;
font-weight: 700;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 1.7em;
text-transform: uppercase;
text-align: center;
cursor: pointer;
    border: 3px solid #feee41;
-webkit-transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
-moz-transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.oil-btn:hover{
    text-decoration: none;
    border: 3px solid #feee41;
    background: transparent;
    color: grey;
}
.oil-btn1{
    background: #feee41;
    color: #484848;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding:8px 15px !important;
}
.oil-btn2{
    background: #feee41;
    color: #484848;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding:14px 50px !important;
}
.oil-input{
    border: none;
    border-bottom: 3px solid #484848;
    box-shadow: none;
    border-radius: 0;
}

.oil-form {
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 100%;
    height: 46px;
    padding: 6px 12px;
    font-size: 21px !important;
    line-height: 1.42857143;
     color: transparent;
    background-color: #fff;
    background-image: none;
     border: 1px solid transparent;
     border-radius: 0 !important;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group-addon {
    font-family: 'Open Sans', sans-serif;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: black;
    background: #feee41 !important;
    text-align: center;
    background-color: #eee;
    border: 1px solid transparent;
    border-radius: 0 !important;

}
ul li {
    text-decoration: none;
}
.oil-heading{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.oil-subheading{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 4rem;
    color: #ffffff;
}
.oil-footer{
    background: #2b3d52;
    color: #f7f7f7;
}
.oil-title{
    font-size: 35px;
    color: #484848;
    text-align: center;
}
.oil-lower-footer{
    background: #1c2939;
}
footer{
    margin: 0 0 0 0;
}
/*table*/

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #ffffff;
    color: #484848;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #feee41;
    border: none;
    color: #484848;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.yellow{
    background: #feee41;
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.oil-box{
    box-sizing: border-box;
}
.sub-title{
    color: #484848;
    font-weight: 500;
    font-size: 35px;
}
.sub-title-center{
    color: #484848;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}


.social-link{
    padding-left: 0;
    margin-top: 30px;
}
.social-link li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    line-height: 50px;
    position: relative;
    list-style-type:none;
    display: inline-block;

}

.social-link li a{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #565a5c;
    font-size: 20px;

}
 .footer-links{
    padding-left: 0;
}
.last-footer-link a{
    color: #ffffff;
}
.last-footer-link a:hover{
    color: #feee41;
}

 /*upper header*/
.mkdf-top-bar {
    width: 100%;
    background-color: #323232;
    color: #cacaca;
    position: relative;
    font-weight: 600;
    height: 46px;
    font-size: 12px;
    z-index: 111;
}

.mkdf-top-bar .mkdf-grid {
    height: 100%;
}
.mkdf-grid {
    width: 1100px;
    margin: 0 auto;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
    padding-left: 0;
    padding-right: 0;
}
.mkdf-vertical-align-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.mkdf-vertical-align-containers.mkdf-33-66 .mkdf-position-left {
    width: 33.33%;
}
.mkdf-top-bar .mkdf-top-bar-widget-area, .mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-left {
    position: relative;
    float: left;
    z-index: 112;
    height: 100%;
}

.mkdf-top-bar .mkdf-top-bar-widget-area, .mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-center-inner, .mkdf-vertical-align-containers .mkdf-position-left-inner, .mkdf-vertical-align-containers .mkdf-position-right-inner {
    vertical-align: middle;
    display: inline-block;
}
.mkdf-top-bar .widget_mkd_social_icon_widget {
    margin: 0;
    margin-right: 0!important;
    padding-right: 0!important;
    border-left: 1px solid rgba(74,74,74,.55);
}
.mkdf-top-bar .mkdf-top-bar-widget {
    display: table;
    float: left;
    height: 100%;
    padding-right: 24px;
}
.mkdf-top-bar .widget_mkd_social_icon_widget .mkdf-top-bar-widget-inner {
    height: 100%;
}
.mkdf-top-bar .mkdf-top-bar-widget-inner {
    display: table-cell;
    vertical-align: middle;
}
.mkdf-top-bar .widget_mkd_social_icon_widget a {
    display: table;
    height: 100%;
    vertical-align: middle;
    padding: 10px 20px;
    -webkit-transition: background-color .15s ease-out;
    -moz-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
}
.mkdf-top-bar .widget_mkd_social_icon_widget a:hover{
    color: #feee41;
}

.mkdf-top-bar .mkdf-social-icon-widget-holder, footer .mkdf-social-icon-widget-holder {
    color: #fff;
}
.mkdf-social-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.mkdf-vertical-align-containers.mkdf-33-66 .mkdf-position-right, .mkdf-vertical-align-containers.mkdf-66-33 .mkdf-position-left {
    width: 66.66%;
}
.mkdf-top-bar .mkdf-top-bar-widget-area, .mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-right {
    position: relative;
    float: right;
    z-index: 112;
    height: 100%;
    text-align: right;
}
.mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-center-inner, .mkdf-vertical-align-containers .mkdf-position-left-inner, .mkdf-vertical-align-containers .mkdf-position-right-inner {
    vertical-align: middle;
    display: inline-block;
}

.mkdf-top-bar .mkdf-top-bar-widget.widget_text {
    position: relative;
}
.mkdf-top-bar .mkdf-top-bar-widget {
    display: table;
    float: left;
    height: 100%;
    padding-right: 24px;
}


.mkdf-top-bar .mkdf-top-bar-widget-inner {
    display: table-cell;
    vertical-align: middle;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}
.mkdf-top-bar .mkdf-icon-list-item {
    display: block;
    height: auto;
    margin-bottom: 0;
}
.mkdf-icon-list-item {
    width: 100%;
    position: relative;
    margin-bottom: 13px;
}

.mkdf-icon-list-item .mkdf-icon-list-icon-holder {
    display: table-cell;
    vertical-align: middle;
    min-width: 13px;
}

.mkdf-top-bar .mkdf-top-bar-widget:last-child {
    padding-right: 0;
}
.widget_mkdf_call_to_action_button.mkdf-top-bar-widget {
    display: block;
}
.mkdf-top-bar .mkdf-top-bar-widget {
    display: table;
    float: left;
    height: 100%;
    padding-right: 24px;
}

.widget_mkdf_call_to_action_button.mkdf-top-bar-widget .mkdf-top-bar-widget-inner {
    display: block;
    height: 100%;
}
.mkdf-top-bar .mkdf-top-bar-widget-inner {
    display: table-cell;
    vertical-align: middle;
}

.widget_mkdf_call_to_action_button .mkdf-call-to-action-button {
    display: block;
    height: 100%;
    background-color: #feee41;
    color: #484848;
    padding: 0 23px 0 18px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, p a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.widget_mkdf_call_to_action_button .mkdf-call-to-action-button .mkdf-ctab-holder {
    display: block;
    position: relative;
    vertical-align: middle;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*end of upper header*/
/*yellow section*/

.vc_custom_1450793810142 {
    padding-top: 134px !important;
    padding-bottom: 140px !important;
    background-color: #43cb83 !important;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.mkdf-content-aligment-center {
    text-align: center;
}
.mkdf-section {
    position: relative;
}
.mkdf-grid-section .mkdf-section-inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}
.mkdf-section-inner-margin {
    margin-left: -15px;
    margin-right: -15px;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1200px){
    .vc_col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    @media (min-width: 1200px){
        .vc_col-lg-10 {
            width: 83.33333333%;
        }

    }}
    .vc_column_container>.vc_column-inner {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .mkdf-element-from-bottom{
        width: 100%;
        display: inline-block;
    }


.mkdf-btn.mkdf-btn-medium{
    min-width: 145px;
}



/*end of yellow section*/
.yellow-bg{
    background: #feee41;
}
.oil-btn-border{
    border: 3px solid #484848;
}
/*testimonials*/
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
    .vc_col-sm-12 {
        width: 100%;
    }
}
    .vc_column_container>.vc_column-inner {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .mkdf-testimonials-holder-inner {
        margin-right: -48px;
        margin-left: -48px;
    }

    .mkdf-testimonials-holder-inner .testimonials-grid.mkdf-three-columns {
        width: 33.33%;
    }
    .mkdf-testimonials-holder-inner .testimonials-grid {
        float: left;
        box-sizing: border-box;
        padding: 0 48px;
        margin-bottom: 37px;
    }
    .mkdf-three-columns {
        width: 100%;
    }
    .mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-text-inner {
        margin-bottom: 5px;
        margin-top: 20px;
        display: table;
        width: 100%;
        height: 100%;
    }
    .mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-image-holder {
        display: table-cell;
        vertical-align: middle;
        width: 76px;
    }
    .mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-image-holder img {
        max-width: 100%;
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .mkdf-testimonials .mkdf-testimonial-image-holder img {
        max-width: 100%;
    }
    .wp-caption, img {
        max-width: 100%;
        height: auto;
    }
    .mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-author {
        display: table-cell;
        vertical-align: middle;
    }
    .mkdf-testimonials-holder-inner .testimonials-grid h6.mkdf-testimonial-author-text {
        margin-top: 0;
    }
    .mkdf-testimonials .mkdf-testimonial-author-text {
        margin-bottom: 4px;
    }
    .mkdf-testimonials .mkdf-testimonials-job {
        color: #ababab;
        font-size: 12px;
    }

    .mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-text {
        text-align: left;
        font-size: 15px;
        font-family: Raleway,sans-serif;
        line-height: 26px;
        font-weight: 400;
        float: left;
    }
    /*end testimonials*/

.goToTop {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}
/*login*/
.login-bg{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(/css/images/login-bg.jpg);
}
/*//////////////////////////////////////////////////////////////////////////

   CSS Helper Classes

/////////////////////////////////////////////////////////////////////////*/

/*////Margins//////*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}

.m-t-5{
    margin-top: 5px!important;
}

.m-t-10{
    margin-top: 10px!important;
}

.m-t-15{
    margin-top: 15px!important;
}

.m-t-20{
    margin-top: 20px!important;
}


.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-25{
    margin-bottom: 25px!important;
}
.m-b-40{
    margin-bottom: 40px!important;
}

.m-b-60{
    margin-bottom: 60px!important;
}

.m-t-40{
    margin-top: 40px!important;
}
.m-t-60{
    margin-top: 60px!important;
}

.m-r-20{
    margin-right: 20px!important;
}
.m-r-40{
    margin-right: 40px!important;
}
.m-30{
    margin: 30px!important;
}
.m-r-100{
    margin-right: 100px !important;
}

/*////Ends here///*/





/*///Padding//*/

.p-0{
    padding: 0!important;
}

.p-5{
    padding: 5px!important;
}

.p-30{
    padding: 30px !important;
}
.p-10{
    padding: 10px!important;
}

.p-15{
    padding: 15px!important;
}

.p-20{
    padding: 20px!important;
}
.p-50{
    padding: 50px !important;
}
.p-t-40{
    padding-top: 40px!important;
}

.p-b-20{
    padding-bottom: 20px!important;
}

.p-b-40{
    padding-bottom: 40px!important;
}

.p-b-60{
    padding-bottom: 60px!important;
}
.p-adjust{
    padding: 40px 50px;
}
.p-l-50{
    padding-top: 10px !important;
    padding-left: 50px !important;
}
.p-tb-40{
    padding: 40px 0;
}
.m-t-46{
    margin-top: 46px !important;
}


/*///ends here////*/




/*////Fonts////*/


.f-12{
    font-size: 12px!important;
}


.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}

.f-22{
    font-size: 22px!important;
}


.f-24{
    font-size: 24px!important;
}

.f-29{
    font-size: 29px!important;
}


.w-100{
    font-weight: 100!important;
}


.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}
.f-8{
    font-size: 5em!important;
}
/*///Borders////*/
.border{
    border: 1px solid #eee;
}
.border-top{
    border-top: 1px solid #eee;
}
.border-right{
    border-right: 1px solid #eee;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.border-left{
    border-left: 1px solid #eee;
}
.c-white{
    color: #fff!important;
}

.c-black{
    color: #000!important;
}
