
html{
    overflow-x: hidden;
}


body{
    overflow-x: hidden;
    font-family: "open sans" , sans-serif;
}


.banner-image{
    background: url("../img/download.jpg") center no-repeat ;
    width: 100%;
    background-size: cover;
    height: 565px;
position:relative;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.banner-image::before {
    background: rgba(17, 17, 17, 0.38);
}

.banner-image::before{
 content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;

}

.banner-image .oil-heading{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.tagline{
    vertical-align: middle;
    text-align: center;
}


.tagline > input{
    width: 50%;
    margin: auto;
    padding: 5px 20px;
}


.banner-image2{
    background: url("../img/gray1.png") center no-repeat ;
    width: 100%;
    background-size: cover;
    height: 632px;

    position: relative;
}

.banner-image2::before {
    background: rgba(17, 17, 17, 0.38);
}

.banner-image2::before{
    /* content: '';*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;

}


.banner-image3{
    background: url("../img/bg2.jpg") center no-repeat ;
    width: 100%;
    z-index: 1;
    background-size: cover;
    height: 600px;
    position: relative;

}

.banner-image3::before {
    background: rgba(17, 17, 17, 0.38);
}

.banner-image3::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;

}

/*.banner-image3::before {*/
/*background: rgba(17, 17, 17, 0.38);*/
/*}*/

/*.banner-image3::before{*/
/*!* content: '';*!*/

/*width: 100%;*/
/*height: 100%;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/

/*}*/

.navbar-brand{
    padding: 10px 35px;

}


.navbar-inverse .navbar-brand {
    color: #f7f7f7;
}
.navbar-inverse .navbar-brand:hover{
    color: #feee41;
}
.navbar-inverse .navbar-nav>li>a {
    line-height: 33px !important;
    color: #f7f7f7 !important;
}
.navbar-inverse {
    border-color: transparent !important;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #feee41 !important;
}

.navbar-default .navbar-nav>.active>a{
    color: #0B1632;
    background-color: transparent ;
    border-bottom: 1px solid #fff;
    transition: all .5s ease;

}

.navbar-default .navbar-nav>.active>a:hover{
    color:#0B1632;
    border-bottom: 2px solid #fff;
    background-color: transparent ;
    transition: all .5s ease;

}
.navbar-default .navbar-nav>li>a:hover {
    color: #0B1632;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    transition: all .5s ease;
}
.oil-nav {
    background-color: #2b2b2d;
    color:#f7f7f7 !important;
    font-family: 'Raleway', sans-serif;
}
.oil-nav:hover{
    color: #feee41;
}

body{
    font-size: 16px;
    line-height: 26px;
    color: grey;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}

.oil-font1{
    font-size: 16px !important;
}

/*.tagline{*/
/*font-family: 'Open Sans', sans-serif;*/
/*color: white;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*!*transform: translate(-50%, -50%);*!*/
/*background: rgba(0, 0, 0, 0.41);*/
/*padding: 232px 278px;*/
/*}*/
.oil-input{
    font-size: 14px;
    width: 70%;
    border: none;
    padding: 10px 15px;
}


li .footer-link a{
    color: #ffffff !important;
}


.footer-links li{
    list-style: none;

}

.footer-links li a{
    color: #fff;
    text-decoration: none;
}

/*.tagline::before{*/
/*content: "";*/
/*border-bottom: 3px solid #feee41;*/
/*margin-top: 40px;*/
/*width: 5%;*/
/*position: absolute;*/
/*}*/

.custom-width{
    width:300px;
}
.oil-para{
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top:18px;
    margin-bottom: 28px;
    color:#1F1F1F;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
.oil-para1{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #1F1F1F;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}

.heading-style{
    Font-size: 35px;
}

.v-large-title{
    color: #fff;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
    font-size: 85px;
}
.large-title{ color: #0F1339;
    font-weight: 500;
    font-family: 'EB Garamond', serif;

    font-size: 65px;}

.title {
    color: #0B1632;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    font-size: 45px;
}/*
.title::before {
    content: "";
    border-bottom: 4px solid #feee41;
    margin-top: 40px;
    width: 70px;
    position: absolute;
}*/

/*.title-color {
    color: #484848;
    font-weight: 500;
    margin: 40px;
    text-align: center;
    font-size: 35px;*/

/*.title-color::before {
    content: "";
    border-bottom: 4px solid #fff;
    margin-top: 40px;
    width: 70px;
    position: absolute;
}*/

.oil-btn  {
    background:#0A0D20;
    color:#ffffff ;
    display: inline-block;
    position: relative;
    outline: 0;
    padding: 9px 30px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 2px;
    -webkit-transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
    -moz-transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
    transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.oil-btn:hover{
    text-decoration: none;
    /* background: #feee41; */
    color: #ffffff;
    border: 1px solid #EF7F07;

}
.oil-btn1{
    background: #feee41;
    color: #484848;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding:8px 15px !important;
}

.footer-subscribe-btn {
    background: #009291;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border-color:transparent;
}

.footer-subscribe-btn:hover{
    background: #EB7C08;
    color: #ffffff;


}
.oil-btn2{
    background: #feee41;
    color: #484848;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding:14px 50px !important;
}

.search-control {
    display: block;
    width: 100%;
    height: 52px;
    padding: 19px 25px;
    font-size: 20px !important;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0 !important;
    z-index: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.signup:hover{
    color: #feee41;
}
.oil-form-control{
    height: 35px;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 0;

}
.input-group-addon {
    font-family: 'Open Sans', sans-serif;
    padding: 12px 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
  /*  background:#EB7C08!important;*/
    background: #009291!important;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0 !important;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;

}
ul li {
    text-decoration: none;
    font-size:16px;
}
.oil-heading{
    font-family: 'open sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.oil-subheading{
    font-family: 'open sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 4rem;
    color: #ffffff;
}
.oil-footer{
    background: #0A0E29;
    color: #f7f7f7;
    padding: 100px 0;
}
.oil-title{
    font-size: 35px;
    color: #484848;
    text-align: center;
}
.oil-lower-footer{
    background-color: rgba(12, 17, 37, 0.96);
}

footer{
    margin: 0 0 0 0;
}
/*table*/

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price . {
    background-color: #ffffff;
    color: #484848;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #feee41;
    border: none;
    color: #484848;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.yellow{
    background: #feee41;
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }

}
@media (min-width: 300px) and (max-width: 550px) {
    .search-control{
        font-size: 14px !important;
    }
    .p-50{
        padding: 0px;
    }
    .oil-footer{
        padding: 20px 0;
    }
    .media-footer{
        margin-top: 20px;
    }
    .oil-input{
        margin-bottom: 10px;
    }
    .oil-lower-footer{
        font-size: 13px;
    }
    .title-color{
        font-size: 25px;
    }
    .title{
        font-size: 19px;
        font-weight: 500;
    }

}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.oil-box{
    box-sizing: border-box;
}
.sub-title{
    color: #484848;
    font-weight: 500;
    font-size: 25px;
}
.sub-title-center{
    color: #484848;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}


.social-link{
    text-align: right;
    color: #ffffff;


}
.social-link li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #151A2D;
    line-height: 40px;
    position: relative;
    list-style-type:none;
    display: inline-block;
    margin-right: 5px;
    border:2px solid #ffffff;
    box-sizing: content-box;

}

.social-link li a{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;

}
.footer-links{
    padding-left: 0;
}
.last-footer-link a{
    color: #ffffff;
}
.last-footer-link a:hover{
    color: #feee41;
}

/*upper header*/
.mkdf-top-bar {
    width: 100%;
    background-color: #323232;
    color: #cacaca;
    position: relative;
    font-weight: 600;
    height: 46px;
    font-size: 12px;
    z-index: 111;
}

.mkdf-top-bar .mkdf-grid {
    height: 100%;
}
.mkdf-grid {
    width: 1100px;
    margin: 0 auto;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
    padding-left: 0;
    padding-right: 0;
}
.mkdf-vertical-align-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.mkdf-vertical-align-containers.mkdf-33-66 .mkdf-position-left {
    width: 33.33%;
}
.mkdf-top-bar .mkdf-top-bar-widget-area, .mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-left {
    position: relative;
    float: left;
    z-index: 112;
    height: 100%;
}

.mkdf-top-bar .mkdf-top-bar-widget-area, .mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-center-inner, .mkdf-vertical-align-containers .mkdf-position-left-inner, .mkdf-vertical-align-containers .mkdf-position-right-inner {
    vertical-align: middle;
    display: inline-block;
}
.mkdf-top-bar .widget_mkd_social_icon_widget {
    margin: 0;
    margin-right: 0!important;
    padding-right: 0!important;
    border-left: 1px solid rgba(74,74,74,.55);
}
.mkdf-top-bar .mkdf-top-bar-widget {
    display: table;
    float: left;
    height: 100%;
    padding-right: 24px;
}
.mkdf-top-bar .widget_mkd_social_icon_widget .mkdf-top-bar-widget-inner {
    height: 100%;
}
.mkdf-top-bar .mkdf-top-bar-widget-inner {
    display: table-cell;
    vertical-align: middle;
}
.mkdf-top-bar .widget_mkd_social_icon_widget a {
    display: table;
    height: 100%;
    vertical-align: middle;
    padding: 10px 20px;
    -webkit-transition: background-color .15s ease-out;
    -moz-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
}
.mkdf-top-bar .widget_mkd_social_icon_widget a:hover{
    color: #feee41;
}

.mkdf-top-bar .mkdf-social-icon-widget-holder, footer .mkdf-social-icon-widget-holder {
    color: #fff;
}
.mkdf-social-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.mkdf-vertical-align-containers.mkdf-33-66 .mkdf-position-right, .mkdf-vertical-align-containers.mkdf-66-33 .mkdf-position-left {
    width: 66.66%;
}
.mkdf-top-bar .mkdf-top-bar-widget-area, .mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-right {
    position: relative;
    float: right;
    z-index: 112;
    height: 100%;
    text-align: right;
}
.mkdf-top-bar .mkdf-top-bar-widget-area-inner {
    height: 100%;
}
.mkdf-vertical-align-containers .mkdf-position-center-inner, .mkdf-vertical-align-containers .mkdf-position-left-inner, .mkdf-vertical-align-containers .mkdf-position-right-inner {
    vertical-align: middle;
    display: inline-block;
}

.mkdf-top-bar .mkdf-top-bar-widget.widget_text {
    position: relative;
}
.mkdf-top-bar .mkdf-top-bar-widget {
    display: table;
    float: left;
    height: 100%;
    padding-right: 24px;
}


.mkdf-top-bar .mkdf-top-bar-widget-inner {
    display: table-cell;
    vertical-align: middle;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}
.mkdf-top-bar .mkdf-icon-list-item {
    display: block;
    height: auto;
    margin-bottom: 0;
}
.mkdf-icon-list-item {
    width: 100%;
    position: relative;
    margin-bottom: 13px;
}

.mkdf-icon-list-item .mkdf-icon-list-icon-holder {
    display: table-cell;
    vertical-align: middle;
    min-width: 13px;
}

.mkdf-top-bar .mkdf-top-bar-widget:last-child {
    padding-right: 0;
}
.widget_mkdf_call_to_action_button.mkdf-top-bar-widget {
    display: block;
}
.mkdf-top-bar .mkdf-top-bar-widget {
    display: table;
    float: left;
    height: 100%;
    padding-right: 24px;
}

.widget_mkdf_call_to_action_button.mkdf-top-bar-widget .mkdf-top-bar-widget-inner {
    display: block;
    height: 100%;
}
.mkdf-top-bar .mkdf-top-bar-widget-inner {
    display: table-cell;
    vertical-align: middle;
}

.widget_mkdf_call_to_action_button .mkdf-call-to-action-button {
    display: block;
    height: 100%;
    background-color: #feee41;
    color: #484848;
    padding: 0 23px 0 18px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, p a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.widget_mkdf_call_to_action_button .mkdf-call-to-action-button .mkdf-ctab-holder {
    display: block;
    position: relative;
    vertical-align: middle;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*end of upper header*/
/*yellow section*/


.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.mkdf-content-aligment-center {
    text-align: center;
}
.mkdf-section {
    position: relative;
}
.mkdf-grid-section .mkdf-section-inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}
.mkdf-section-inner-margin {
    margin-left: -15px;
    margin-right: -15px;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1200px){
    .vc_col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    @media (min-width: 1200px){
        .vc_col-lg-10 {
            width: 83.33333333%;
        }

    }}
.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.mkdf-element-from-bottom{
    width: 100%;
    display: inline-block;
}


.mkdf-btn.mkdf-btn-medium{
    min-width: 145px;
}

.sec-position{
    position:relative;
}

/*end of yellow section*/

.yellow-bg{
    background: url("../img/counter.jpg") center no-repeat ;
    width: 100%;
    background-size: cover;
    height: 380px;
    position: relative;
}

.yellow-bg::before {
    background: rgba(17, 17, 17, 0.38);
}

.yellow-bg::before {
    /* content: '';*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}


.light-bg{
    background: #ECECEC;

}
.oil-btn-border{
    border: 3px solid #484848;
}

.img-position{
    position: absolute;
    top: -61px;
    right: -61px;
}

/*testimonials*/
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
    .vc_col-sm-12 {
        width: 100%;
    }

}
.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.mkdf-testimonials-holder-inner {
    margin-right: -48px;
    margin-left: -48px;
}

.mkdf-testimonials-holder-inner .testimonials-grid.mkdf-three-columns {
    width: 33.33%;
}
.mkdf-testimonials-holder-inner .testimonials-grid {
    float: left;
    box-sizing: border-box;
    padding: 0 48px;
    margin-bottom: 37px;
}
.mkdf-three-columns {
    width: 100%;
}
.mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-text-inner {
    margin-bottom: 5px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-image-holder {
    display: table-cell;
    vertical-align: middle;
    width: 76px;
}
.mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-image-holder img {
    max-width: 100%;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.mkdf-testimonials .mkdf-testimonial-image-holder img {
    max-width: 100%;
}
.wp-caption, img {
    max-width: 100%;
    height: auto;
}
.mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-author {
    display: table-cell;
    vertical-align: middle;
}
.mkdf-testimonials-holder-inner .testimonials-grid h6.mkdf-testimonial-author-text {
    margin-top: 0;
}
.mkdf-testimonials .mkdf-testimonial-author-text {
    margin-bottom: 4px;
}
.mkdf-testimonials .mkdf-testimonials-job {
    color: #ababab;
    font-size: 12px;
}

.mkdf-testimonials-holder-inner .testimonials-grid .mkdf-testimonial-text {
    text-align: left;
    font-size: 15px;
    font-family: Raleway,sans-serif;
    line-height: 26px;
    font-weight: 400;
    float: left;
}
/*end testimonials*/

.goToTop {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}



.cta-strip{
    background-color: rgba(10, 13, 32, 0.96);
    max-height: 70px;
}

.footer-links li a{
    opacity: .6;
}

.footer-links li a:hover{
    opacity: 1;
}
/*login page css*/
.bg-black{
    color: #484848;
}
.login-form h3 {
    margin: 40px 0;
}
.login-form .form-group > input {
    padding: 20px;
    border-radius: 0;
}
.login-form .form-group > textarea {
    padding: 20px;
    border-radius: 0;
    width: 100%;
}
.m-10{
    margin: 10px;
}
.register-points li {
    list-style: none;
}
.register-points p {
    margin: 30px 0;
    padding-left: 30px;
}
.f-input-group {
    width: 100% !important;
    margin: 20px auto !important;
    position: relative !important;
}
.float-input {
    border: none !important;
    border-bottom: 1px solid #999 !important;
    font-size: 16px !important;
    width: 100% !important;
    padding: 10px !important;
    background-color: transparent;
}
.float-input:focus {
    outline: none !important;
}
.float-label {
    color: #565a5c !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
    transition: all .5s !important;
}
.label-top {
    visibility: visible !important;
    opacity: 1 !important;
    top: -20px !important;
}

.f-input-group > input#Message {
    height: 100px !important;

}
.img-section {
    background: url('../img/BANNER.jpg') center no-repeat;
    /*width: 100%;*/
    /*height: 100vh;*/
    background-size: cover;
    /*display: -webkit-flex;*/
    justify-content: center;
    align-items: center;
}

/*.img-section:before {*/
/*content: '';*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*opacity: .9;*/
/*background-image: linear-gradient(to bottom right, #142844, #c58cd9);*/
/*}*/


.register-btn{
    background-color: #00a8e6;
    color: #fff;
    margin: 20px 0;
    border-radius: 0;
}
.register-btn:hover{
    background-color: #00a8e6;
    color: #fff;
}
.oil-title{
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.text-color{
    color: white;
}

.card-oil {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2)!important;
    background-color: #ffffff;
    padding:20px 20px 30px 20px;

}

.w-card-style{
    margin-top:10px;
}
.card-fixed-size{
    width:305px;
    height:395px;

}


.intro-sec{
    margin-top:15px;
}
.greycard-oil{
    background-color:#F2F2F2;
    border-radius:2px;
    padding: 10px;
}

.greycard2-oil {
    background-color: #E5E5E5;
    border-radius: 2px;
    padding: 10px;
}

/*by garima*/

.count{

    color: #ffffff;

    font-size: 32px;
    line-height: 40px;
    font-weight: 600;

}

.img-border-circle{
    border-radius: 50%;
    border:2px solid #ffffff;
    padding:15px;
}

.card-margin-left{
    margin-left:40px;
}

.sec-margin-left{
    margin-left:32px;

}

.firstsec-margin-left{
    margin-left:60px;
}

.firstcard-margin-left{
    margin-left:100px;
}



/*here's end*/

.login-form {
    height: 100vh;
    padding: 140px 70px;
    background: rgba(0, 0, 0, 0.48);
    color: #ffffff;

}
.social-connect li{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    background-color: #1f1d1d;
    text-align: center;
    position: relative;

}
.social-connect li a{
    color: #fff;
    font-size: 22px;
    transition: all .3s ease-in-out;
    padding: 12px;
}
.bg-white{
    color: #fff;
}
.register-padding{
    height: 100vh;
    padding:22px 70px;
}
/*end of login page css*/


/*//////////////////////////////////////////////////////////////////////////

   CSS Helper Classes

/////////////////////////////////////////////////////////////////////////*/

/*////Margins//////*/

@media screen and (min-width: 768px){

    .m-t-0{
        margin-top: 0!important;
    }

    .m-t-5{
        margin-top: 5px!important;
    }

    .m-t-10{
        margin-top: 10px!important;
    }

    .m-t-15{
        margin-top: 15px!important;
    }

    .m-t-20{
        margin-top: 20px!important;
    }

    .m-t-46{
        margin-top: 46px !important;
    }

    .m-t-90{
        margin-top: 90px !important;
    }
    .m-b-0{
        margin-bottom: 0!important;
    }

    .m-b-5{
        margin-bottom: 5px!important;
    }

    .m-b-10{
        margin-bottom: 10px!important;
    }

    .m-b-20{
        margin-bottom: 20px!important;
    }
    .m-b-25{
        margin-bottom: 25px!important;
    }
    .m-b-40{
        margin-bottom: 40px!important;
    }

    .m-b-60{
        margin-bottom: 60px!important;
    }

    .m-b-90{
        margin-bottom: 90px !important;
    }

    .m-t-40{
        margin-top: 40px!important;
    }
    .m-t-60{
        margin-top: 60px!important;
    }

    /*margin right*/
    .m-r-20{
        margin-right: 20px!important;
    }
    .m-r-40{
        margin-right: 40px;
    }

    .m-r-100{
        margin-right: 100px !important;
    }

    /*margin left*/
    .m-l-20{
        margin-left: 20px!important;
    }
    /*////Ends here///*/





    /*///Padding//*/

    .p-0{
        padding: 0!important;
    }

    .p-5{
        padding: 5px!important;
    }

    .p-30{
        padding: 30px !important;
    }
    .p-10{
        padding: 10px!important;
    }

    .p-15{
        padding: 15px!important;
    }

    .p-20{
        padding: 20px!important;
    }
    .p-50{
        padding: 50px !important;
    }
    .p-t-40{
        padding-top: 40px!important;
    }
.p-t-10{
    padding-top: 10px!important;

}

    .p-b-20{
        padding-bottom: 20px!important;
    }

    .p-b-40{
        padding-bottom: 40px!important;
    }

    .p-b-60{
        padding-bottom: 60px!important;
    }
    .p-adjust{
        padding: 40px 50px;
    }
    .p-l-50{
        padding-top: 10px !important;
        padding-left: 50px !important;
    }
    .p-tb-40{
        padding: 40px 0;
    }


    .padding-right{
        padding-right: 5%!important;
    }

}

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-10{
    margin: 10px!important;
}

.m-20{
    margin: 20px!important;
}
.m-30{
    margin: 30px!important;
}
/*line-height*/
.line-heigh-6{
    line-height: 6;

}
/*fonts*/

.f-10{
    font-size: 10px;
}

.f-14{
    font-size: 14px;
}


.f-w{
    color:#ffffff!important;
}

.f-b{
    color:#000000!important;
}


/*///ends here////*/




/*////Fonts////*/


.f-12{
    font-size: 12px!important;
}

.f-13{
    font-size: 13px!important;
}



.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}

.f-22{
    font-size: 22px!important;
}


.f-24{
    font-size: 24px!important;
}

.f-29{
    font-size: 29px!important;
}


.w-100{
    font-weight: 100!important;
}


.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}
.f-8{
    font-size: 5em!important;
}
/*///Borders////*/
.border{
    border: 1px solid #eee;
}
.border-top{
    border-top: 1px solid #eee;
}
.border-right{
    border-right: 1px solid #eee;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.border-left{
    border-left: 1px solid #eee;
}
.c-white{
    color: #fff!important;
}

.c-black{
    color: #000!important;
}


@media screen and (max-width: 768px){
    .about-section .col-sm-7 , .col-sm-5{
        padding: 20px!important;
    }

    .light-bg , .container , .yellow-bg{
        padding: 20px!important;
    }


    /*these are added*/
    .title{
        margin: 5px 0;
    }

    .large-title {
        font-size: 26px;
    }

    .oil-para {
        margin-top:20px;
        font-size: 12px;
    }

    /*  ends here*/
    .mkdf-three-columns{
        width: 100%!important;
    }

    .cta-strip .row{
        margin: 0!important;
    }

    .banner-image {
        height: 100vh;
    }

    .tagline .form-group{
        padding: 0px 10px;
    }
}

/*Loader*/



/*/////////////////////////////////////////Loader start here/////////////////////////////////////*/


#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

h1 {
    color: #EEEEEE;
}


/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}


.loaded #loader {
    opacity: 0;
}


.loaded #loader-wrapper {
    visibility: hidden;
}


.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}



.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}


.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}



#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #777b9d;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #a99072;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}



/*///////////////////////////////////////////////Ends here////////////////////////////////////////*/

/*
css by garima-->*/

.nav-custom{
    margin-bottom: 0px;
    background-color: transparent!important;
    border-color: rgba(0, 0, 0, 0.12);
    position:relative;
    border-radius: 0;

}

.navbar-default .navbar-nav>li>a {
    color: #0B1632;

}

.nav>li>a {
    padding: 10px 12px;}

header {
    position: fixed;
    top:0;
    width: 100%;
    background: transparent;
    color: #fff;
    z-index: 1;
    transition: all .5s ease;
}

header.scroll {
    background:#f5f5f5;
/*    background:#ebebeb;*/
    height:62px;


}

.menu ul {

    max-width: 100%;
    margin: 0 auto;
    padding: 12px;
}
.menu li {
    display: inline-block;
    margin-left: 10px;
}
.menu li:nth-child(1) {
    margin-left: 0;
}
.heading-style1{
    color: #0B1632;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: center;
}



.para-bottom-border{
    border-bottom: 1px solid #191C3B;
    padding:5px;
  /*  color:#060608;*/
      color:#FFFFFF;
}
.oil-color{
    color:#060608;
}
.oil-color2{
    color:#222222!important;
    font-size: 12px;
}

.hollow-btn{
    border: 1px solid #0B163C;
    color: #fff;
    cursor: pointer;
    /* margin-top: 20px; */
    height: 40px;
    padding: 0!important;
    width: 140px;
    border-radius: 30px;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: center;
    line-height: 40px !important;

}

.hollow-btn:hover{
    background-color: #091233;
}

.hollow2-btn{
    color:#091233;
}

/*
.hollow-btn1{
    border: 1px solid #000203;
    color: #000203;
    cursor: pointer;
    height: 40px;
    width: 150px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.hollow-btn1:hover{
    background-color: #E98E26;
    color:#ffffff;
    border: 1px solid #ffffff;
}*/
.oil-btn-solid{
    background: #091233;
    color:#ffffff ;
    display: inline-block;
    position: relative;
    outline: 0;
    padding: 10px 30px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
    -moz-transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
    transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.oil-btn-solid:hover{
background-color:#EB7C08;}

.oil-para-border{
    border:2px solid rgba(49, 62, 94, 0.58);
    padding: 30px;
    transition: all .8s;
}
.oil-para-border:hover{
    border:3px solid rgba(49, 62, 94, 0.58);
    padding: 29px;

}

.mobile-m-t-20{
    margin-top: 20px;
}


/*testimonial two*/
.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.block-text {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2)!important;
    background-color: #ffffff;
    padding:20px 20px 30px 20px;

}


.testi-title{
    color: #0B1632;
    font-size: 16px;
    font-size: 16px;
    margin-left: 12px;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: "Open Sans",sans-serif;

    line-height: 22px;
    margin-top:10px;
    font-size: 15px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block-text > p:before{
    content: '"';
    color:#F79223;
    font-size:22px;

}

.block-text > p:after{
    content: '"';
    color:#F79223;
    font-size:22px;

}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #EF7D03;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: "open sans" , sans-serif;
    font-size: 13px;
}
.rel {
    position: relative;
}

/*ends here*/

.card-title {
    color: #0B1632;
    font-weight: 200;
    font-size: 16px;
}
.card-title::before {
    content: "";
    border-bottom: 4px solid #000000;
    margin-top: 35px;
    margin-left: 30px;
    width: 70px;
    position: absolute;
}
.white-title{
    color: #fff;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    padding:10px;
}

.cogs-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:2px solid #fff;
    line-height: 121px;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0 auto;

}

.cogs-icon>i{
    font-size:55px;
    color:#ffffff;
    text-align: center;


}


/*media query by garima*/

@media screen and (max-width: 768px) {
    .img-section {
        width: 100%;
    }
    .login-section{
        background-color: #fafafa;
    }


    /*  iphone header*/
    .hmbr{
        width: 100%;
        background-color: #EB7C08;
        height: 70px;
        padding: 10px 20px;

    }

    header.scroll {
        background:transparent;

    }

    .navigation{
        width: 50%;
        background: #EB7C08;
        left: -385px;
        position: relative;
        height:100vh;
        /*transition: all .4s ease;*/

    }

    .navigation ul{
        list-style: none;
    }
    .navigation ul li{
        font-size: 14px;
        padding: 6px 15px;
        font-family: "open sans" , sans-serif;
    }

    .navigation ul li a{
        color: #fff;
    }

    .navigation span{
        color: #fff;
        font-size: 19px;
        margin-left: 92%;
        cursor: pointer;;
    }




    /*  ends here
  */

    .banner-image2{
        height: 100%;
    }

    .banner-image3 {
        height: 100%;

    }

    .yellow-bg{
        height:100%
    }

    .intro-sec{
        margin-top:60px;
    }

    .card-margin-left{
        margin-left:0px;
    }

    .firstcard-margin-left{
        margin-left:0px;
    }

    .firstsec-margin-left{
        margin-left:0px;
    }

    .sec-margin-left{
        margin-left:0px;
    }

    .card-title {
        margin-top: 10px;
    }

    .card-title::before {
        margin-top: 25px;
    }

    .navbar-brand{
        max-width: 135px;
        padding:5px 12px;
    }

    .v-large-title {
        font-size: 35px;
    }



    .oil-subheading {
        font-size: 17px;

    }

    .social-link {
        float: left;
    }

    .p-50{
        padding: 0!important;
    }

    .oil-footer{
        padding: 20px 0;
    }

    .menu ul{
        padding: 0;
    }


}


